node_modules/
dist/
*.class
*.log
*.jar
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# custom
build/
*.spec
profiles_db.conf
venv/
**/lib/
**/__pycache__
**/node_modules
**/package-lock.json
.etc/